# Environments
.env
.venv/
env/
venv/
ENV/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Streamlit config / run files
.streamlit/

# OS specific files
.DS_Store
Thumbs.db
